/*=========== common =============*/
.banner {
  background-image: linear-gradient(to bottom right, #36afc3, #f0c82e, #c40da0);
}

h3 {
  color: #260f34;
  font-family: "Amarante", cursive;
}

h2 {
  color: #602a69;
  font-family: "Limelight", cursive;
}

li {
  color: #602a69;
  font-family: "Poiret One", cursive;
}

p {
  color: #602a69;
  font-family: "Poiret One", cursive;
}

main {
  background-image: linear-gradient(to bottom right, #36afc3, #f0c82e, #c40da0);
}

#first_about {
  background-size: cover;
  background-image: url(aboutme1.webp);
  aspect-ratio: 16/9;
}

footer {
  color: #e09e8f;
}

footer a {
  color: #e09e8f;
}
/*=========== mobile version =============*/
@media (max-width: 600px) {
  /*=========== second section =================*/
  #second_about {
    padding: 10px;
  }

  h2 {
    font-size: 4rem;
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
  }

  li {
    list-style: none;
  }
}

/*=========== desktop version =============*/
@media (min-width: 600px) {
  /* ------ first_section ------- */
  #first_about {
    background-repeat: no-repeat;
    aspect-ratio: 16/9;
  }

  /* ------ second_section ------- */
  #second_about {
    padding-top: 5%;
  }

  #second_about .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding-left: 1%;
    padding-right: 1%;
  }

  .col_narrow {
    top: 5%;
    left: 67%;
    width: 90%;
    position: sticky;
    height: 430px;
    box-shadow: 0 0 6px #000;
  }

  #second_about h2 {
    font-size: 8rem;
  }

  #second_about h3 {
    font-size: 1.5rem;
  }

  #second_about p {
    font-size: 1.6rem;
  }

  #second_about li {
    list-style-type: none;
    font-size: 1.3rem;
  }
}
