/*=========== common =============*/

a {
  color: #f4bd9e;
}

main {
  background-image: linear-gradient(to bottom right, #36afc3, #f0c82e, #c40da0);
}

p {
  font-family: "Poiret One", cursive;
  color: #f4bd9e;
  font-size: 1rem;
}

/*=========== first section =============*/
#first_section {
  height: 100vh;
  background-size: cover;
  background-position: 40%;
  background-image: url(splash_flower.webp);
}

/*=========== second_section =============*/

#second_section .section_wrapper {
  background-color: hsl(291, 43%, 29%, 0.6);
  border: 2px solid #f4bd9e;
}

#second_section a {
  font-family: "Limelight", cursive;
}

/*=========== third section =================*/

#third_section .section_wrapper {
  background-color: hsl(291, 43%, 29%, 0.6);
  border: 2px solid #f4bd9e;
}

#third_section a {
  font-family: "Limelight", cursive;
}

/*=========== fourth section =================*/

#fourth_section .section_wrapper {
  background-color: hsl(291, 43%, 29%, 0.6);
  border: 2px solid #f4bd9e;
}

#fourth_section a {
  font-family: "Limelight", cursive;
}

/*=========== fifth section =================*/
#fifth_section {
  padding-top: 10%;
}

#fifth_section .section_wrapper {
  background-color: hsl(291, 43%, 29%, 0.6);
  border: 2px solid #f4bd9e;
}

#fifth_section a {
  font-family: "Limelight", cursive;
}

/*=========== mobile version =============*/

@media (max-width: 600px) {
  /*=========== second section =================*/
  #second_section {
    padding: 10px;
  }

  #second_section a {
    font-size: 1.8rem;
  }

  #second_section img {
    width: 100%;
  }

  /*=========== third section =================*/
  #third_section {
    padding: 10px;
  }

  #third_section a {
    font-size: 1.8rem;
  }

  #third_section img {
    width: 100%;
  }

  /*=========== fourth section =================*/
  #fourth_section {
    padding: 5px;
  }

  #fourth_section a {
    font-size: 1.8rem;
  }

  #fourth_section img {
    width: 100%;
  }

  /*=========== fifth section =================*/
  #fifth_section {
    padding: 10px;
  }

  #fifth_section a {
    font-size: 1.8rem;
  }

  #fifth_section img {
    width: 100%;
  }
}

/*=========== desktop version =============*/

@media (min-width: 600px) {
  /*=========== first section =================*/
  #first_section {
    background-size: cover;
    background-image: url(splash_flower.webp);
  }

  /*=========== second section =================*/
  #second_section {
    padding-top: 10%;
  }

  #second_section a {
    font-size: 2rem;
  }

  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
  }
  #second_section img {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 /3;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  }

  #second_section .section_wrapper p {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2;
  }

  /*=========== third section =================*/
  #third_section {
    padding-top: 10%;
  }

  #third_section a {
    font-size: 2rem;
  }

  #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4%;
  }

  #third_section img {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  }

  #third_section .section_wrapper p {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2;
  }

  /*=========== fourth section =================*/
  #fourth_section {
    padding-top: 10%;
  }

  #fourth_section a {
    font-size: 2rem;
  }

  #fourth_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
  }
  #fourth_section img {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 /3;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  }

  #fourth_section .section_wrapper p {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2;
  }

  /*=========== fifth section =================*/
  #fifth_section {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  #fifth_section a {
    font-size: 2rem;
  }

  #fifth_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 4%;
  }
  #fifth_section img {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  }

  #fifth_section .section_wrapper p {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2;
  }
}
