/*=========== basics for all =============*/
* {
  margin: 0;
  box-sizing: border-box;
}

/*---------- all images ----------*/
img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
  block-size: 100%;
}

/*---------- all links ----------*/
a {
  text-decoration: none;
}

#logo_small {
  color: aliceblue;
}

body {
  background-size: auto 100%;
  background-position: 5% 130px;
  background-attachment: fixed;
}

@font-face {
  font-family: calli;
  src: url("callihgrafreeregular-bwqkv-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*=========== footer =============*/
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #c16893;
}

.footer_bestilling {
  grid-column: 2;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  font-family: "Poiret One", cursive;
  font-size: 0.9rem;
}

footer a {
  color: white;
}

/*=========== mobile version =============*/
/*=========== nav =============*/
/*---------- header ----------*/
.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem 3rem;
  padding: 1rem;
}

nav {
  display: contents;
}

nav ul {
  display: flex;
  flex-flow: column;
  flex: 1 1 100%;
  gap: 0 2rem;
  border-block-start: 2px solid #fff2;
  padding-block-start: 1rem;
}

nav li {
  display: grid;
}

/*---------- links i nav ----------*/
nav a {
  margin-inline: -1rem;
  padding-inline: 1rem;
  border-radius: 6px;
  padding-block: 1rem;
  letter-spacing: 10px;
  font-family: "Poiret One", cursive;
  -webkit-text-stroke: 0.6px white;
  font-size: 1.1rem;
}

/*---------- when hovering over nav links ----------*/
nav a:is(:hover, :focus) {
  background: hsl(208, 100%, 97%, 0.6);
  text-decoration: none;
}

@media (max-width: 600px) {
  #logo_big {
    display: none;
  }

  #logo_small {
    font-family: calli;
    font-size: 2rem;
  }

  nav a:is(:hover, :focus) {
    width: 40%;
  }
}

/*---------- Burger menu ----------*/

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    color: aliceblue;
    border: none;
    display: block;
    width: 44px;
    height: 44px;
    padding: 0.25rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    background-color: rgba(0, 0, 0, 0.4);
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}

@media (max-width: 599px) {
  button.toggle-btn + ul {
    display: none;
  }
}

/*---------- Desktop version ----------*/
@media (min-width: 600px) {
  .banner {
    /* justify-content: center; */
  }

  nav,
  nav ul {
    display: contents;
  }

  .logo,
  nav li {
    text-align: center;
    flex: 1;
  }

  nav li:is(:nth-child(2), :nth-child(2)) {
    order: -1;
  }

  button {
    display: none;
  }

  #logo_small {
    display: none;
  }

  nav a {
    margin-inline: 5rem;
  }
}
