/*=========== common =============*/
.banner {
  background-image: linear-gradient(to bottom left, #444444, #141718, #282c2d);
}

main {
  background-image: linear-gradient(to bottom left, #444444, #141718, #282c2d);
}

#first_tema5 {
  background-image: url(vinhanen_redesign_front.webp);
  background-size: cover;
  aspect-ratio: 16/9;
}

#second_tema5 h2 {
  color: #f4bd9e;
  font-family: calli;
}

h3 {
  color: antiquewhite;
  font-family: "Amarante", cursive;
}

p {
  color: white;
  font-family: "Poiret One", cursive;
}

figcaption {
  color: white;
  font-family: "Amarante", cursive;
}

.web_knap {
  font-family: "Amarante", cursive;
}

/*=========== mobile version =============*/
@media (max-width: 600px) {
  /*=========== second section =================*/
  #second_tema5 {
    padding-top: 4%;
    padding-left: 5px;
    padding-right: 5px;
  }

  #second_tema5 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #second_tema5 h2 {
    font-size: 1.5rem;
    grid-column: 1/3;
  }

  .col1 {
    grid-column: 1/4;
    padding-top: 15px;
  }

  .web_knap {
    grid-column: 2;
    grid-row: 2;
    background: #ffffff;
    box-shadow: 0 3px 6px #d9d9d9;
    border: none;
    padding: 15px 30px;
    width: 30vw;
    height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 0.9rem;
  }

  /*=========== fourth section =================*/

  #fourth_tema5 {
    padding: 10px;
  }

  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  /*=========== fifth section =================*/
  #fifth_tema5 {
    padding: 10px;
  }

  #fifth_tema5 figure {
    padding-top: 10px;
  }

  /*=========== sixth section =================*/
  #sixth_tema5 {
    padding: 10px;
  }

  #sixth_tema5 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #sixth_tema5 .col_narrow {
    grid-column: 1/4;
  }

  #sixth_tema5 .web_knap {
    padding-top: 10px;
    grid-column: 2;
    grid-row: 2;
  }

  /*=========== seventh section =================*/
  #seventh_tema5 {
    padding-top: 20px;
    padding: 10px;
  }
}

/*=========== desktiop version =============*/
@media (min-width: 600px) {
  /*=========== second section =================*/
  #second_tema5 {
    padding-top: 10px;
  }

  #second_tema5 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  #second_tema5 h2 {
    grid-column: 3;
    font-size: 1.9rem;
  }

  .col1 {
    grid-column: 2/5;
    grid-row: 2;
  }

  .web_knap {
    grid-column: 3;
    grid-row: 3;
    background: #ffffff;
    box-shadow: 0 3px 6px #d9d9d9;
    border: none;
    padding: 15px 30px;
    width: 20vw;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
  }

  .web_knap a:hover {
    background-color: #ebeaea;
  }

  /*=========== fourth section =================*/
  #fourth_tema5 {
    padding-top: 20px;
    padding: 10px;
  }

  #fourth_tema5 .section_wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }

  /*=========== fifth section =================*/
  #fifth_tema5 .section_wrapper {
    display: grid;
  }

  #fifth_tema5 .col_wide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding: 10px;
  }

  /*=========== sixth section =================*/
  #sixth_tema5 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  #sixth_tema5 .col_narrow {
    grid-column: 1/6;
    grid-row: 2;
  }

  #sixth_tema5 .web_knap {
    grid-column: 3;
    grid-row: 3;
    background: #ffffff;
    box-shadow: 0 3px 6px #d9d9d9;
    border: none;
    padding: 15px 30px;
    width: 20vw;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 1rem;
  }

  .web_knap a:hover {
    background-color: #ebeaea;
  }

  /*=========== seventh section =================*/
  #seventh_tema5 {
    padding-top: 2%;
  }

  #seventh_tema5 .col_wide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
  }

  #seventh_tema5 p {
    text-align: center;
  }
}
