/*=========== common =============*/
.banner {
  background-image: linear-gradient(to bottom right, #36afc3, #f0c82e, #c40da0);
}

main {
  background-image: linear-gradient(to bottom right, #36afc3, #f0c82e, #c40da0);
}

#first_tema2 {
  background-image: url(moodboard.webp);
  background-size: cover;
  aspect-ratio: 16/9;
}

#second_tema2 h2 {
  color: #260f34;
  font-family: calli;
}

h2 {
  color: #260f34;
  font-family: "Amarante", cursive;
}

p {
  color: #602a69;
  font-family: "Poiret One", cursive;
}

.web_knap {
  font-family: "Amarante", cursive;
}

/*=========== mobile version =============*/
@media (max-width: 600px) {
  /*=========== second section =================*/
  #second_tema2 {
    padding-top: 4%;
    padding-left: 5px;
    padding-right: 5px;
  }
  #second_tema2 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #second_tema2 h2 {
    font-size: 1.5rem;
    grid-column: 1/3;
  }

  .col1 {
    grid-column: 1/4;
    padding-top: 15px;
  }

  .web_knap {
    grid-column: 2;
    grid-row: 2;
    background: #ffffff;
    box-shadow: 0 3px 6px #d9d9d9;
    border: none;
    padding: 15px 30px;
    width: 30vw;
    height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
  }

  /*=========== third section =================*/
  #third_tema2 {
    padding: 10px;
  }

  /*=========== fourth section =================*/
  #fourth_tema2 {
    padding: 10px;
  }

  /*=========== fifth section =================*/
  #fifth_tema2 {
    padding: 10px;
  }

  /*=========== sixth section =================*/
  #sixth_tema2 {
    padding: 10px;
  }
}

/*=========== desktiop version =============*/
@media (min-width: 600px) {
  /*=========== first section =================*/
  #first_tema2 {
    aspect-ratio: 16/9;
  }

  /*=========== second section =================*/
  #second_tema2 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  #second_tema2 h2 {
    padding-top: 20px;
    grid-column: 3/5;
    font-size: 2rem;
  }

  .col1 {
    grid-column: 2/5;
  }

  .web_knap {
    grid-column: 3;
    grid-row: 3;
    background: #ffffff;
    box-shadow: 0 3px 6px #d9d9d9;
    border: none;
    padding: 15px 30px;
    width: 20vw;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
  }

  .web_knap a:hover {
    background-color: #ebeaea;
  }

  /*=========== fourth section =================*/
  #fourth_tema2 {
    padding: 10px;
  }

  #fourth_tema2 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }

  #fourth_tema2 .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /*=========== fifth section =================*/
  #fifth_tema2 {
    padding: 10px;
  }

  #fifth_tema2 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  #fifth_tema2 .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /*=========== sixth section =================*/
  #sixth_tema2 {
    padding: 10px;
  }

  #sixth_tema2 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  #sixth_tema2 .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
