/*=========== mobile version =============*/
/* .logo {
  font-size: 1.4rem;
  font-weight: 900;
  text-decoration: none;
  background: linear-gradient(45deg, blue, pink);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
} */

/*=========== first section =============*/
#first_section {
  height: 100vh;
  background-size: cover;
  background-position: 40%;
  background-repeat: no-repeat;
  background-image: url(/splash_flower.webp);
}

/*=========== second_section =============*/
#second_section {
  padding-top: 10%;
}

#second_section .section_wrapper {
  /* display: grid;
  grid-template-columns: 1fr 0.5 1fr;
  grid-template-rows: 1fr, 2fr; */
  background-color: aliceblue;
  /* padding: 0 10px 0 10px; */
}
/* #second_section img { */
/* display: grid;
  grid-column: 1 / 2;
  grid-row: 1 /3; */
/* width: 70%; */
/* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
/* } */
/* #second_section .section_wrapper h2 { */
/* display: grid;
  grid-column: 2 / 3;
  grid-row: 1; */
/* } */
/* #second_section .section_wrapper p { */
/* display: grid;
  grid-column: 2 / 3;
  /* grid-row: 2; */
/* } */

/*=========== third section =================*/
#third_section {
  padding-top: 10%;
}

#third_section .section_wrapper {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: aliceblue;
  padding: 0 10px 0 10px;
  gap: 4%;
}
#third_section img {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  /* width: 70%; */
  /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
}
#third_section .section_wrapper h2 {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1;
}
#third_section .section_wrapper p {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2;
}

/*=========== fourth section =================*/
#fourth_section {
  padding-top: 10%;
}

#fourth_section .section_wrapper {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 1fr 2fr;
  background-color: aliceblue;
  padding: 0 10px 0 10px;
}
#fourth_section img {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 /3;
  /* width: 70%; */
  /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
}
#fourth_section .section_wrapper h2 {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1;
}
#fourth_section .section_wrapper p {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2;
}

/*=========== fifth section =================*/
#fifth_section {
  padding-top: 10%;
}

#fifth_section .section_wrapper {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: aliceblue;
  padding: 0 10px 0 10px;
  gap: 4%;
}
#fifth_section img {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  /* width: 70%; */
  /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
}
#fifth_section .section_wrapper h2 {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1;
}
#fifth_section .section_wrapper p {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2;
}

/*---------- Desktop version ----------*/
/*=========== first section =================*/
@media (min-width: 600px) {
  #first_section {
    background-size: cover;
    background-image: url(/splash_flower.webp);
  }

  /* .left_button {
    position: absolute;
    right: 10px;
    top: 150px;
  } */

  /*=========== second section =================*/
  #second_section {
    padding-top: 10%;
  }

  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    background-color: aliceblue;
    padding: 0 10px 0 10px;
    border: 2px solid black;
  }
  #second_section img {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 /3;
    /* width: 70%; */
    /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
  }
  #second_section .section_wrapper h2 {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1;
  }
  #second_section .section_wrapper p {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2;
  }

  /*=========== third section =================*/
  #third_section {
    padding-top: 10%;
  }

  #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    background-color: aliceblue;
    padding: 0 10px 0 10px;
    gap: 4%;
    border: 2px solid black;
  }
  #third_section img {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    /* width: 100%; */
    /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
  }
  #third_section .section_wrapper h2 {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1;
  }
  #third_section .section_wrapper p {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2;
  }

  /*=========== fourth section =================*/
  #fourth_section {
    padding-top: 10%;
  }

  #fourth_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 0 10px 0 10px;
    border: 2px solid black;
  }
  #fourth_section img {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 /3;
    /* width: 70%; */
    /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
  }
  #fourth_section .section_wrapper h2 {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1;
  }
  #fourth_section .section_wrapper p {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2;
  }

  /*=========== fifth section =================*/
  #fifth_section {
    padding-top: 10%;
  }

  #fifth_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    background-color: aliceblue;
    padding: 0 10px 0 10px;
    gap: 4%;
    border: 2px solid black;
  }
  #fifth_section img {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    /* width: 70%; */
    /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
  }
  #fifth_section .section_wrapper h2 {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1;
  }
  #fifth_section .section_wrapper p {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2;
  }
}
